<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="videoStreamer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <videoStreamer.Properties.Settings>
            <setting name="txtSendTo" serializeAs="String">
                <value>http://localhost:5000/</value>
            </setting>
            <setting name="txtMethod" serializeAs="String">
                <value>POST</value>
            </setting>
            <setting name="txtBodyContent" serializeAs="String">
                <value>{"img_base64str": "$frame$"}</value>
            </setting>
            <setting name="radVideo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="radCamera" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txtVideoFile" serializeAs="String">
                <value />
            </setting>
            <setting name="nmrFPS" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="chkLoop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="nmbWidth" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="nmbHeight" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="txtResponse" serializeAs="String">
                <value />
            </setting>
            <setting name="chkPrintResponse" serializeAs="String">
                <value>True</value>
            </setting>
        </videoStreamer.Properties.Settings>
    </userSettings>
</configuration>